body {
  background-color: #F8F9FA;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.page {
  background-color: #F8F9FA;;
  width: 100%;
  max-width: 50%;
  margin-top: 15rem;
}


.sidemenu li{
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1.5rem;
}


.border-box{
    width: 15%;
    color: var(--dark);
    border-right: 0.10rem solid #426BC2;
    float: left;  
}

.nav{
    margin-left: 13rem;
   
}

.a1 h4{
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.a1-bar-list {
  margin-top: 5rem;
  width: 100%;
}